@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  user-select: none;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

body {
  /* @apply bg-gray-900 text-gray-100; */
  -webkit-font-smoothing: antialiased;
  @apply bg-bgd-body text-txt-color flex flex-col;
}

.debug {
  @apply border-2 border-purple-500;
}
.debug1 {
  @apply border-2 border-pink-500;
}

@layer components {
  .card {
    @apply bg-bgd-card rounded-xl p-2 sm:px-4 lg:p-5 shadow-md;
  }

  .borda-externa {
    box-shadow: 0px 0px 0px 3px green;
  }

  .lang_color {
    display: flex;
  }

  .lang_color::before {
    display: flex;
    content: "";
    margin-right: 8px;
    border-radius: 50%;
    border: 2px solid $text-color;
    background-color: var(--my-color-var);
    width: 15px;
    height: 15px;
  }

  .gap-15 {
    gap: 0.938rem;
  }

  .gap-60 {
    gap: 3.75rem;
  }
}
