@import '_variables.scss';

.card {
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: $bg-cards;

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
