@import '_variables.scss';

.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & h2 {
      font-size: 20px;
      font-weight: bold;
    }

    & a {
      font-size: 14px;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.project {
  flex: 40%;
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 0px 2px $bg-techs inset;
  }

  & * {
    pointer-events: none;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    gap: 15px;
  }

  &__description {
    font-size: 14px;
    font-weight: 100;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  &__status {
    display: flex;
    gap: 15px;
    & div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__circle {
    display: flex;

    &::before {
      display: flex;
      content: '';
      margin-right: 8px;
      border-radius: 50%;
      border: 2px solid $text-color;
      background-color: yellow;
      width: 15px;
      height: 15px;
    }
  }
}
