@import '_variables.scss';

.wrapper {
  display: grid;
  grid-template-areas:
    'info content'
    'footer footer';
  margin: 30px auto;
  gap: 60px;
  align-items: flex-start;
  max-width: 1300px;
}
