@import '_variables.scss';

.wrapper {
  display: grid;
  grid-template-areas:
    'info content'
    'footer footer';
  margin: 30px;
  gap: 60px;
  align-items: flex-start;
}

// .main {
//   width: 952px;
//   display: flex;
//   flex-direction: column;
//   gap: 30px;

//   & .container {
//     display: flex;
//     flex-direction: column;
//     gap: 30px;
//   }

//   & .title {
//     @extend %card;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     background-color: $bg-cards;
//     & h2 {
//       font-size: 20px;
//       font-weight: bold;
//     }

//     & a {
//       font-size: 14px;
//     }
//   }

//   & .wrapper {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     gap: 30px;
//   }

//   & .card {
//     @extend %card;
//     width: 100%;
//     gap: 10px;

//     & p {
//       font-size: 14px;
//       font-weight: 100;
//     }

//     &__title {
//       font-size: 16px;
//       font-weight: bold;
//       display: flex;
//       align-items: flex-end;
//       gap: 15px;
//     }

//     &__svg {
//       width: 20px;
//     }
//     &__footer {
//       display: flex;
//       justify-content: space-between;
//       font-size: 14px;

//       & .status {
//         display: flex;
//         gap: 15px;
//         & div {
//           display: flex;
//           align-items: center;
//           gap: 8px;
//         }
//       }
//       & .circle {
//         display: flex;
//       }

//       & .circle::before {
//         display: flex;
//         content: '';
//         margin-right: 8px;
//         border-radius: 50%;
//         border: 2px solid $text-color;
//         background-color: yellow;
//         width: 15px;
//         height: 15px;
//       }
//     }
//   }

//   & .card-photo {
//     @extend %card;
//     width: 100%;
//     flex-direction: row;
//     align-items: center;
//     gap: 20px;

//     & img {
//       width: 128px;
//       border-radius: 50%;
//     }

//     & .content {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       height: 100%;
//       & div {
//         display: flex;
//         flex-direction: column;
//         gap: 10px;
//       }

//       & h2 {
//         font-size: 18px;
//         font-weight: bold;
//       }

//       & p {
//         font-size: 16px;
//       }

//       & span {
//         font-size: 14px;
//         font-weight: lighter;
//       }

//       & .footer span {
//         display: flex;
//         gap: 15px;
//       }
//     }
//   }
// }
